<div class="transfer-panel container-fluid">
    <div class="row">
      <!-- Source List -->
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">{{sourceTitle() | translate}}</h5>
          </div>
          <div class="card-body p-0">
            <div class="search-container">
              <input
                type="text"
                class="form-control"
                [placeholder]="sourcePlaceholder() | translate"
                [(ngModel)]="sourceFilter"
              >
            </div>
            <div class="list-container">
              <div class="list-group transfer-list">
                <button
                  *ngFor="let item of filteredSourceItems"
                  class="list-group-item list-group-item-action"
                  [class.active]="selectedSourceItems.includes(item)"
                  [class.single-select]="!enableMultiSelect"
                  (click)="toggleSourceSelection(item)"
                >
                  <ng-container *ngIf="sourceItemTemplate; else defaultSourceTemplate">
                    <ng-container *ngTemplateOutlet="sourceItemTemplate; context: { $implicit: item }">
                    </ng-container>
                  </ng-container>
                  <ng-template #defaultSourceTemplate>
                    {{ getItemDisplayValue(item) }}
                  </ng-template>
                </button>
              </div>
              <div *ngIf="filteredSourceItems.length === 0" class="empty-state">
                No items found
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Transfer Controls -->
      <div class="col-md-2 d-flex align-items-center justify-content-center">
        <div class="btn-group-vertical">
          <button
            class="btn btn-primary mb-2"
            (click)="transferToTarget()"
            [disabled]="selectedSourceItems.length === 0"
          >
            <i class="bi bi-chevron-right"> > </i>
          </button>
          <button
            class="btn btn-primary mb-2"
            (click)="transferToSource()"
            [disabled]="selectedTargetItems.length === 0"
          >
            <i class="bi bi-chevron-left"> < </i>
          </button>
          <button
            class="btn btn-secondary mb-2"
            (click)="transferAllToTarget()"
            [disabled]="sourceItems.length === 0"
          >
            <i class="bi bi-chevron-double-right"> >> </i>
          </button>
          <button
            class="btn btn-secondary"
            (click)="transferAllToSource()"
            [disabled]="targetItems.length === 0"
          >
            <i class="bi bi-chevron-double-left"> >> </i>
          </button>
        </div>
      </div>
  
      <!-- Target List -->
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">{{targetTitle() | translate}}</h5>
          </div>
          <div class="card-body p-0">
            <div class="search-container">
              <input
                type="text"
                class="form-control"
                [placeholder]="targetPlaceholder() | translate"
                [(ngModel)]="targetFilter"
              >
            </div>
            <div class="list-container">
              <div class="list-group transfer-list">
                <button
                  *ngFor="let item of filteredTargetItems"
                  class="list-group-item list-group-item-action"
                  [class.active]="selectedTargetItems.includes(item)"
                  [class.single-select]="!enableMultiSelect"
                  (click)="toggleTargetSelection(item)"
                >
                  <ng-container *ngIf="targetItemTemplate; else defaultTargetTemplate">
                    <ng-container *ngTemplateOutlet="targetItemTemplate; context: { $implicit: item }">
                    </ng-container>
                  </ng-container>
                  <ng-template #defaultTargetTemplate>
                    {{ getItemDisplayValue(item) }}
                  </ng-template>
                </button>
              </div>
              <div *ngIf="filteredTargetItems.length === 0" class="empty-state">
                No items found
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>