<div class="col-lg-12 border-content">
    <div *ngIf="!areDocumentTypeLoaded" align="center">
        <img class="text-center" src="../../../assets/images/loading.gif">
        <p>Loading .....</p>
    </div>
    <div class="row">
        <div class="col-lg-12" *ngIf="areDocumentTypeLoaded">
            <div class="tab-heading">
                {{'AssignDocumentTypeDescription' | translate}}
            </div>
            <div class="row m-0">
                <div class="col-xxl-6">
                    <app-transfer-panel [sourceItems]="documentTypes" [targetItems]="assignedDocumentTypes"
                        [displayProperty]="'documentType.name'" (itemsChanged)="onItemsChanged($event)" [enableMultiSelect]="false" />
                </div>
                <div class="col-xxl-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{'ChooseAssignDocumentType' | translate}}</div>
                        <div class="panel-body">
                            <button type="button" *ngIf="isBtnDefaultVisible" class="btnbtn-block btn-primary"
                                (click)="onSetDefaultDocumentType()">
                                {{currentAssignmentDocumentType.documentType.name }} {{'AsSetDefault'| translate}}
                            </button>
                            <button *ngIf="!isBtnDefaultVisible" class="btnbtn-block btn-default" disabled>
                                {{getDefaultDocumentType()}} {{'AsSetDefault'| translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>