<div class="tab-heading">
    {{ 'ExternalPropertiesTitle' | translate}}
  </div>
  <div class="col-xl-8 col-lg-12  p-0">
    <!-- <p-pickList #externalPropertyTransferPanel [source]="availableExternalProperties" [responsive]="true"
      [target]="assignedExternalProperties" sourceHeader="{{ 'AvailableExternalProperties' | translate}}"
      targetHeader="{{ 'AssignedExternalProperties' | translate}}" [showSourceControls]="false"
      [showTargetControls]="false" [sourceStyle]="{'height':'250px'}" [targetStyle]="{'height':'250px'}" filterBy="name"
      sourceFilterPlaceholder="{{'Search' | translate}}" targetFilterPlaceholder="{{'Search' | translate}}"
      (onMoveToTarget)="resetTransferPanelFilter($event)" (onMoveToSource)="resetTransferPanelFilter($event)">
      <ng-template let-externalProperties pTemplate="item">
        <div class="ui-helper-clearfix">
          <div style="font-size:14px;float:right;margin:12px 0px 7px 9px"> {{ externalProperties.name }}</div>
        </div>
      </ng-template>
    </p-pickList> -->
    <app-transfer-panel [sourceItems]="availableExternalProperties" [targetItems]="assignedExternalProperties"
    [sourceTitle]="'AvailableExternalProperties'" [targetTitle]="'AssignedExternalProperties'" [enableMultiSelect]="false"
    sourcePlaceholder='Search' targetPlaceholder="Search" [displayProperty]="'name'"  >
    </app-transfer-panel>
  </div>
